@import "../../styles/global";

.container {
  width: 100vw;
  margin: 0 auto;
  text-align: left;
  background: $color-offWhite;
  color: $color-darkNavy;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 40rem;
  .leftGrid {
    grid-column: 1;
    .title {
      width: 100%;
      h2 {
        margin-left: 3rem;
        font-size: 3.9rem;
        padding-bottom: 3.5rem;
        padding-top: 2rem;
      }
      h5 {
        margin-left: 3rem;
        font-size: 3rem;
        line-height: 0;
      }
      p {
        font-family: $font-secondary;
        margin-left: 3rem;
        font-size: 1.6rem;
      }
    }
    .inner {
      display: grid;
      grid-template-columns: max-content 1fr;
      padding: 1rem;
      grid-gap: 1rem;
      .ul {
        grid-column: 1;
        margin-right: 0.5rem;
        li {
          width: max-content;
          min-width: 20rem;
          list-style: none;
          line-height: 1.5;
          padding: 1rem;
          border-bottom: 1px solid black;
          &:hover {
            background-color: #ff9800;
          }
        }
      }
      .second {
        grid-column: 2;
        width: 100%;
        height: 30rem;
        background: pink;
      }
      .bot {
        grid-column: 1 / -1;
        width: 100%;
        height: 30rem;
        background: magenta;
      }
    }
  }

  .rightGrid {
    grid-column: 2;
    padding: 1rem;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    border-left: 5px double tan;
    .frame {
      width: 25rem;
      height: 25rem;
      background: pink;
    }
    h5 {
      font-size: 1.8rem;
      font-weight: 400;
    }
    p {
      margin-left: 3rem;
      font-size: 1.6rem;
      span {
        color: orange;
      }
    }
  }
}
