@import "../../styles/global";

.container {
  width: $container-width;
  text-align: left;
  background: $color-offWhite;
  color: $color-black;
  padding: 2rem;
  .innerContainer {
    margin: 0 auto;
    width: $site-width;
    h2 {
      margin-left: 3rem;
      font-size: 3.9rem;
    }
    h5 {
      margin-left: 3rem;
      font-size: 2.6rem;
    }
    ul {
      margin-left: 3rem;
      line-height: 1.5;
      li {
        list-style: circle;
        font-size: 1.6rem;
      }
    }
    p {
      margin-left: 3rem;
    }
    a {
      font-style: normal;
      text-rendering: optimizeLegibility;
      color: $color-orange;
    }
    a,
    a:hover {
      text-decoration: none;
    }
  }
}
