@import "../../styles/global";

.container {
  width: 100vw;
  padding: 2rem;
  margin: 0 auto;
  text-align: left;
  background: $color-navy;
  color: $color-offWhite;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  .titleDiv {
    grid-column: 1 / -1;
    font-size: 3.4rem;
    text-align: center;
    padding: 3rem 2rem 0 2rem;
  }

  .leftContainer {
    margin: 3rem auto;
  }

  .rightContainer {
    max-width: 60rem;
    padding: 0 2rem;
    h5 {
      font-size: 2.2rem;
      color: $color-gray;
      font-family: $font-secondary;
    }
    h4 {
      font-size: 1.8rem;
    }
    p {
      font-size: 1.6rem;
      span {
        color: $color-orange;
      }
    }
  }
}
