@import "../../styles/global";

.container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0.15rem;
  background-color: $color-navy;
  .article-box {
    margin-bottom: 2rem;
    width: 100%;
    transition: all 0.25s ease;
    &:hover {
      cursor: pointer;
      @media screen and (min-width: 960px) {
        box-shadow: insect $site-width 0 0 0 $color-orange;
      }
    }
    .left {
      float: left;
      margin-left: 3.3333rem;
      margin-top: 3.3333rem;
      width: 12rem;
      height: 12rem;
      background-color: $color-offWhite;
      img {
        width: 12rem;
        height: 12rem;
      }
    }
    .right {
      margin-left: 17rem;
      margin-top: -1rem;
      padding: 15px;
      color: $color-white;
      font-size: 1.2rem;
      h3 {
        color: $color-gray;
        font-size: 1.6rem;
      }
    }
    .excerpt {
      margin: 0 auto;
      margin-top: 2rem;
      padding: 0 1.25rem;
      text-align: left;
      color: $color-white;
      font-size: 1.2rem;
    }
  }
}
