@import "../../styles/global";

.container {
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
  display: grid;
  justify-content: center;
  color: $color-black;
  background-color: $color-offWhite;
  .bottomRow {
    width: $site-width;
    margin: 0 auto;
    padding: 2rem;
    font-family: $font-secondary;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5rem;
    justify-content: space-around;
    .inner {
      width: 35rem;
      img {
        margin: 1.5rem auto;
      }
      p {
        text-align: left;
        font-size: 1.5rem;

        .bolder {
          font-weight: 800;
          color: $color-black;
        }
      }
      a {
        font-style: normal;
        text-rendering: optimizeLegibility;
        text-decoration: none;
        color: $color-orange;
        font-weight: 600;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
