@import "../../styles/global";

.container {
  width: $site-width;
  margin: 40px auto;
  padding: 3rem;
  text-align: center;
  background-color: $color-offWhite;
  color: $color-black;
  line-height: 1.2;
  text-align: center;
  h4 {
    font-size: 2.3rem;
    color: $color-gray;
    font-family: $font-secondary;
    line-height: 0;
  }
  h3 {
    color: $color-navy;
    font-size: 3rem;
    margin: 3rem auto;
    line-height: 0;
  }
  p {
    margin: 0 auto;
    max-width: 70rem;
    font-size: 2rem;
  }
  span {
    color: $color-orange;
  }
  a {
    display: inline-block;
    vertical-align: top;
    border-radius: 12px;
    text-transform: uppercase;
    background: $color-dark-green;
    color: $color-white;
    padding: 11px 15px 10px;
    min-width: 182px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    &:hover {
      background: $color-orange;
      color: $color-white;
    }
  }

  @media (max-width: 950px) {
    padding: 3rem;
    line-height: 1;
    h4 {
      font-size: 3rem;
    }
    h3 {
      font-size: 2.4rem;
      margin: 1.5rem auto;
    }
    .topParagraph {
      margin: 0 auto;
      max-width: 60rem;
      font-size: 1.7rem;
    }
    .bottomParagraph {
      margin: 0.5rem auto;
      max-width: 70rem;
      font-size: 1.6rem;
    }
  }

  @media (max-width: 768px) {
    padding: 2rem;
    h4 {
      font-size: 2.6rem;
    }
    h3 {
      font-size: 2rem;
      margin: 1rem auto;
    }
    .topParagraph {
      margin: 0 auto;
      max-width: 55rem;
      font-size: 1.5rem;
    }
    .bottomParagraph {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 650px) {
    padding: 1.5rem;
    h4 {
      font-size: 2.3rem;
    }
    h3 {
      font-size: 1.8rem;
      margin: 1rem auto;
    }
    .topParagraph {
      margin: 0 auto;
      max-width: 55rem;
      font-size: 1.4rem;
    }
    .bottomParagraph {
      max-width: 55rem;
      font-size: 1.4rem;
    }
  }
}
