@import "../../styles/global";

.container {
  width: 100%;
  padding: 4rem 0;
  text-align: center;
  background: $color-offWhite;
  color: $color-navy;
  line-height: 1.25;
  text-align: center;
  h3 {
    font-size: 39px;
    color: $color-gray;
    font-family: $font-secondary;
    line-height: 0.05;
  }
  h4 {
    color: $color-navy;
    font-size: 24px;
    margin-bottom: 4rem;
  }
  .topParagraph {
    margin: 0 auto;
    font-family: $font-secondary;
    max-width: 55rem;
    font-size: 18px;
  }
  .bottomParagraph {
    margin: 0 auto;
    font-family: $font-secondary;
    max-width: 60em;
    font-size: 18px;
  }
  span {
    color: $color-orange;
  }
}
