@import "../../styles/global";

.container {
  width: 100%;
  margin: 0 auto;
  padding: 6rem 0;
  text-align: center;
  background: $color-offWhite;
  color: $color-navy;
  line-height: 1.2;
  text-align: center;
  h3 {
    font-size: 4rem;
    color: $color-gray;
    font-family: $font-secondary;
    line-height: 0.05;
    text-decoration-line: underline;
  }
  h4 {
    color: $color-navy;
    font-size: 3rem;
    margin: 3rem auto;
  }
  .topParagraph {
    margin: 0 auto;
    font-family: $font-secondary;
    max-width: 60rem;
    font-size: 2rem;
  }
  .bottomParagraph {
    margin: 1rem auto;
    font-family: $font-secondary;
    max-width: 63rem;
    font-size: 1.8rem;
  }
  span {
    color: $color-orange;
  }
}
