@import "../../styles/global";

.container {
  width: 100%;
  padding: 4rem;
  margin: 0 auto;
  text-align: center;
  display: grid;
  justify-content: center;
  color: $color-black;
  background-image: linear-gradient(
    0.5turn,
    $color-navy,
    $color-offWhite,
    $color-navy
  );
  h5 {
    max-width: 100rem;
    font-size: 2.4rem;
    line-height: 1;
  }
  .bottom {
    font-family: $font-secondary;
    max-width: 100rem;
    font-weight: 600;
    font-size: 2rem;
    margin: 0 auto 2rem auto;
    span {
      color: $color-orange;
    }
  }
}
