@import "../../styles/global";

.container {
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
  display: grid;
  justify-content: center;
  color: $color-black;
  background-color: $color-offWhite;
  h5 {
    max-width: 100rem;
    font-size: 2.2rem;
  }
  .bottom {
    font-family: $font-secondary;
    max-width: 100rem;
    font-weight: 600;
    font-size: 2rem;
    margin: 0 auto;
    span {
      color: $color-orange;
    }
  }
}
