@import "../../styles/global";

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.5px;
  background-color: $color-offWhite;
  color: $color-black;
  .titleDiv {
    grid-column: 1 / -1;
    text-align: center;
    padding: 1rem 2rem;
    font-size: 2.4rem;
  }
  .leftContainer {
    text-align: right;
    margin: 2rem 2rem;
  }
}
