@import "../../styles/global";

.container {
  width: 100%;
  display: grid;
  justify-content: center;
  justify-items: center;
  text-align: center;
  align-items: center;
  padding: 2rem;
  background: transparent;
  .fontAwesome {
    margin: 0 auto;
    padding: 0.2rem;
  }
  h3 {
    font-size: 3.2rem;
    font-family: $font-secondary;
    color: $color-white;
    line-height: 1.25;
    span {
      font-family: $font-primary;
      font-size: 3.3rem;
      color: $color-orange;
    }
  }

  .contactInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10rem;
    justify-content: center;
    margin: 4rem auto;
    font-family: $font-secondary;
    h5 {
      font-size: 1.9rem;
      line-height: 0;
    }
    .sides {
      display: flex;
      flex-flow: column;
      margin: 0 auto;
      width: 20rem;
      height: 20rem;
      color: $color-white;
      border: 1px solid $color-white;
      border-radius: 8px;
      button {
        cursor: pointer;
        width: max-content;
        min-width: 17rem;
        padding: 1rem;
        border-radius: 4px;
        font-size: 1.5rem;
        font-weight: 600;
        margin: 1rem auto;
        border: none;
        background: $color-white;
        &:link,
        &:visited {
          color: $color-orange;
          display: inline-block;
          text-decoration: none;
          border-bottom: 1px solid $color-orange;
          padding: 10rem;
          transition: all 0.4s ease-in 0.4s;
          background: $color-orange;
        }
        &:active {
          box-shadow: 0 0.5rem 1rem rgba($color-orange, 0.15);
        }
      }
      &:hover {
        color: $color-orange;
        border: 1px solid $color-orange;
        button {
          background-color: $color-orange;
          color: $color-black;
          box-shadow: 0 1rem 2rem rgba($color-orange, 0.15);
        }
      }
    }

    .middle {
      display: flex;
      flex-flow: column;
      margin: 0 auto;
      width: 20rem;
      height: 20rem;
      color: $color-white;
      border: 1px solid $color-white;
      border-radius: 8px;
      img {
        width: 10rem;
        margin: 0 auto;
        padding: 1rem;
      }
      button {
        cursor: pointer;
        width: max-content;
        min-width: 17rem;
        padding: 1rem;
        border-radius: 4px;
        font-size: 1.5rem;
        font-weight: 600;
        margin: 1rem auto;
        border: none;
        background: $color-white;
        &:link,
        &:visited {
          color: $color-orange;
          display: inline-block;
          text-decoration: none;
          border-bottom: 1px solid $color-orange;
          padding: 10rem;
          transition: all 0.4s ease-in 0.4s;
        }
        &:active {
          box-shadow: 0 0.5rem 1rem rgba($color-orange, 0.15);
        }
      }
      &:hover {
        color: $color-orange;
        border: 1px solid $color-orange;
        button {
          background-color: $color-orange;
          color: $color-black;
          box-shadow: 0 1rem 2rem rgba($color-orange, 0.15);
        }
      }
    }
  }

  @media (max-width: 950px) {
    h3 {
      font-size: 2.7rem;
      span {
        font-size: 2.7rem;
      }
    }

    .contactInfo {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 5rem;
      h5 {
        font-size: 1.6rem;
      }
      .sides {
        display: flex;
        flex-flow: column;
        width: 20rem;
        height: 20rem;
        border-radius: 8px;
        button {
          width: max-content;
          min-width: 17rem;
          padding: 1rem;
          border-radius: 4px;
          font-size: 1.5rem;
          font-weight: 600;
          margin: 1rem auto;
          &:link,
          &:visited {
            padding: 10rem;
          }
        }
      }

      .middle {
        display: flex;
        flex-flow: column;
        width: 20rem;
        height: 20rem;
        border-radius: 8px;
        img {
          width: 10rem;
        }
        button {
          width: max-content;
          min-width: 17rem;
          padding: 1rem;
          border-radius: 4px;
          font-size: 1.5rem;
          font-weight: 600;
          margin: 1rem auto;
          &:link,
          &:visited {
            padding: 5rem;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 1rem;
    h3 {
      font-size: 2.4rem;
      span {
        font-size: 2.4rem;
      }
    }

    .contactInfo {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 3rem;
      .sides {
        display: flex;
        flex-flow: column;
        width: 20rem;
        height: 20rem;
        border-radius: 8px;
        button {
          width: max-content;
          min-width: 15rem;
          padding: 1rem;
          border-radius: 4px;
          font-size: 1.4rem;
          font-weight: 400;
          margin: 1rem auto;
          &:link,
          &:visited {
            padding: 5rem;
          }
        }
      }

      .middle {
        display: flex;
        flex-flow: column;
        width: 20rem;
        height: 20rem;
        border-radius: 8px;
        button {
          width: max-content;
          min-width: 15rem;
          padding: 1rem;
          border-radius: 4px;
          font-size: 1.4rem;
          font-weight: 400;
          margin: 1rem auto;
          &:link,
          &:visited {
            padding: 5rem;
          }
        }
      }
    }
  }

  @media (max-width: 450px) {
    h3 {
      font-size: 2rem;
      span {
        font-size: 2rem;
      }
    }

    .contactInfo {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      .sides {
        display: flex;
        flex-flow: column;
        width: 20rem;
        height: 20rem;
        border-radius: 8px;
        button {
          width: max-content;
          min-width: 15rem;
          padding: 1rem;
          border-radius: 4px;
          font-size: 1.4rem;
          font-weight: 400;
          margin: 1rem auto;
          &:link,
          &:visited {
            padding: 5rem;
          }
        }
      }

      .middle {
        display: flex;
        flex-flow: column;
        width: 20rem;
        height: 20rem;
        border-radius: 8px;
        button {
          width: max-content;
          min-width: 15rem;
          padding: 1rem;
          border-radius: 4px;
          font-size: 1.4rem;
          font-weight: 400;
          margin: 1rem auto;
          &:link,
          &:visited {
            padding: 5rem;
          }
        }
      }
    }
  }
}
