@import "../../styles/global";

.container {
  width: $container-width;
  margin: 0 auto;
  background: #f2f2f2;
  color: #263248;
  padding: 3rem;

  .inner {
    width: $site-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-column-gap: 10rem;
    .columnLeft {
      margin-top: 2rem;
      .picture {
        margin: 2rem auto 1rem auto;
        position: relative;
        width: 50rem;
        img {
          width: 50rem;
        }
      }

      .myStory {
        margin: 0 auto;
        max-width: 50rem;
        p {
          text-align: left;
          font-size: 1.6rem;
        }
        span {
          color: orange;
        }
        .imgs {
          padding-bottom: 0.25rem;
          .floatRight {
            float: right;
            margin-left: 1rem;
          }
          .floatLeft {
            float: left;
            margin-right: 1rem;
          }
        }
        .middleGrid {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-column-gap: 1rem;
          margin: 0 auto;
        }
        h3 {
          margin-top: 3rem;
          margin-right: 2rem;
          float: left;
          font-size: 2.4rem;
        }
      }
    }

    .columnRight {
      max-width: 50rem;
      text-align: left;
      padding: 2rem;
      h4 {
        font-size: 2.8rem;
      }
      h5 {
        font-size: 1.4rem;
      }
      ul {
        list-style: disc;
        li {
          font-family: $font-secondary;
          font-size: 2rem;
          line-height: 1.8;
        }
      }
      p {
        font-size: 1.4rem;
        margin-left: 2rem;
      }
      span {
        color: orange;
      }
    }
  }
}
