// COLORS
$container-width: 100%;
$site-width: 1360px;
$font-primary: "Brevia", Arial, Helvetica, sans-serif;
$font-secondary: "ff-nuvo-web-pro", Arial, Helvetica, sans-serif;
$color-background: #171e2b;
$color-black: #222f3e;
$color-blue: #0984e3;
$color-navy: #0c1d41;
$color-darkNavy: #263248;
$color-white: #ffffff;
$color-offWhite: #f2f2f2;
$color-grainsboro: #dbdbdb;
$color-gray: #7e8aa2;
$color-lightGray: #707070;
$color-darkGray: #737373;
$color-orange: #ff9800;
$color-space: #576574;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
