// COLORS
$container-width: 100%;
$site-width: 1360px;
$font-primary: "Brevia", Arial, Helvetica, sans-serif;
$font-secondary: "ff-nuvo-web-pro", Arial, Helvetica, sans-serif;
$color-black: #222f3e;
$color-blue: #0984e3;
$color-navy: #171e2b;
$color-white: #ffffff;
$color-offWhite: rgba(255, 255, 255, 0.8);
$color-gray: #7e8aa2;
$color-orange: #ff9800;
$color-space: #576574;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
