@import "../styles/base/_animations";
@import "../styles/abstracts/_variables";
@import "../styles/abstracts/_mixins";

html {
  box-sizing: border-box;
  font-size: 10px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Brevia", Arial, Helvetica, sans-serif;
  font-size: 1.75rem;
  line-height: 22px;
  margin: 0px;
  color: #dbdbdb;
  background-color: #000;
  box-sizing: border-box;
}
