@import "../../styles/global";

.container {
  max-width: $site-width;
  margin: 10rem auto;
  text-align: center;
  color: $color-offWhite;
  line-height: 1.25;
  .title {
    font-size: 6.6rem;
    color: $color-white;
    line-height: 1rem;
  }
  .subtitle {
    margin: 6rem auto 0 auto;
    font-size: 2.2rem;
    color: $color-orange;
    font-weight: 400;
    span {
      border-bottom: solid 1px $color-orange;
    }
  }
  .text {
    margin: 5rem auto 0 auto;
    font-family: $font-secondary;
    h5 {
      color: $color-orange;
      font-size: 2.4rem;
      line-height: 1;
    }
    p {
      margin: 0 auto;
      text-align: center;
      font-size: 1.6rem;
      color: $color-gray;
      max-width: 80rem;
      a {
        font-style: normal;
        text-rendering: optimizeLegibility;
        color: $color-orange;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
        color: $color-white;
      }
    }
  }
}
