@import "../../styles/global";

.container {
  width: $container-width;
  margin: 0 auto;
  text-align: left;
  background: #f2f2f2;
  color: #263248;
  .inner {
    margin: 0 auto;
    padding: 2rem;
    width: $site-width;
    color: $color-darkGray;
    h3 {
      margin-left: 3rem;
      font-size: 3rem;
    }
    h4 {
      margin-left: 3rem;
      font-size: 2.4rem;
    }
    h5 {
      margin-left: 3rem;
      font-size: 2.2rem;
    }
    p {
      margin-left: 3rem;
    }
    ul {
      list-style: disc;
      margin-left: 2rem;
      li {
        line-height: 1.5;
        ul {
          list-style: circle;
        }
      }
    }
    a {
      font-style: normal;
      text-rendering: optimizeLegibility;
      color: $color-orange;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
