@import "../styles/global";

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: $color-white;
  justify-content: space-around;
  .leftContainer {
    padding: 2rem;
    width: 100%;
    p {
      font-size: 1.4rem;
    }
    span {
      color: $color-orange;
    }
  }
  .midContainer {
    padding: 2rem;
    margin: 0 auto;
    p {
      font-size: 1.4rem;
      color: $color-orange;
    }
  }
  .rightContainer {
    padding: 2rem;
    p {
      font-size: 1.4rem;
    }
    span {
      font-size: 1.4rem;
      color: $color-orange;
    }
  }
}
