@import "../styles/global";

.container {
  max-width: 1080px;
  min-height: 140px;
  margin: 0 auto;
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 60% 1fr;
  .row {
    text-align: center;
    padding: 5px;
    .logo {
      width: 15.5rem;
      z-index: 2;
      -webkit-filter: drop-shadow(1.25px 1.25px 1.25px rgb(194, 176, 176));
      filter: drop-shadow(1.25px 1.25px 1.25px rgb(194, 176, 176));
    }
  }
  .button {
    background-color: $color-offWhite;
    display: inline-block;
    color: $color-white;
    height: 30px;
    width: 30px;
    line-height: 30px;
    padding-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    &:hover {
      background-color: $color-white;
    }
  }
  .button-icon {
    @extend .button;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .button-facebook {
    @extend .button-icon;
    background-image: url("../../content/images/facebook.png");
    border-radius: 4.333px;
  }
  .button-linkedin {
    @extend .button-icon;
    background-image: url("../../content/images/linkedin.png");
    border-radius: 4.333px;
  }
  .button-twitter {
    @extend .button-icon;
    background-image: url("../../content/images/twitter.png");
    border-radius: 4.333px;
  }
  .link {
    color: $color-black;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      color: $color-white;
    }
    &:not(:last-child) {
      padding-right: 30px;
    }
  }
}
