@import "../../styles/global";

.container {
  width: $container-width;
  text-align: center;
  padding: 4rem 2rem;
  background: $color-navy;
  h5 {
    font-size: 2.2rem;
    color: $color-gray;
    line-height: 0;
  }
  h4 {
    font-size: 3.2rem;
    color: $color-white;
    line-height: 0;
  }
  p {
    line-height: 1.2;
  }
  .middeText {
    margin: 0 auto;
    max-width: 90rem;
  }
  a {
    text-decoration-line: none;
    color: $color-orange;
  }
  a:hover {
    text-decoration-line: underline;
  }
}
