@import "../../styles/global";

.container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 5rem;
  h2 {
    margin: 4rem auto 6rem auto;
    color: $color-black;
    font-size: 3.6rem;
    font-weight: 600;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1),
      10px 10px 10px rgba(0, 0, 0, 0.2);
  }
  .innerContainer {
    margin: 0 auto;
    width: 100%;
    max-width: 1190px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
    grid-gap: 2rem;
    justify-content: center;
    .innerDiv {
      padding: 3rem;
      text-transform: uppercase;
      cursor: pointer;
      display: inline-block;
      color: $color-black;
      border: 3px solid #ff9800;
      border-radius: 50px;
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      h5 {
        margin: 0 auto;
        padding-top: 3rem;
        text-align: left;
        line-height: 1;
        font-size: 2.6rem;
        font-weight: 600;
        color: $color-black;
      }
      a {
        text-decoration: none;
      }
      p {
        text-align: left;
        font-size: 1.4rem;
        line-height: 1;
      }
      &:hover {
        box-shadow: 0 0 10px 0 #ff9800 inset, 0 0 20px 2px #ff9800;
        // border: 3px solid #ff9800;
      }
    }
  }

  @media (max-width: 1600px) {
    .innerContainer {
      .innerDiv {
        h5 {
          font-size: 2.2rem;
        }
      }
    }
  }

  @media (max-width: 1111px) {
    .innerContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 850px) {
    h2 {
      font-size: 2.8rem;
    }
    .innerContainer {
      .innerDiv {
        h5 {
          font-size: 1.8rem;
        }
      }
    }
  }

  @media (max-width: 650px) {
    h2 {
      margin: 2rem auto 1rem auto;
      font-size: 2.6rem;
    }
    .innerContainer {
      grid-gap: 1rem;
      .innerDiv {
        h5 {
          font-size: 1.6rem;
        }
      }
    }
  }

  @media (max-width: 500px) {
    margin-bottom: 1rem;
    h2 {
      margin: 0.5rem auto;
      font-size: 2.2rem;
    }
    .innerContainer {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
