@import "../../styles/global";

.container {
  width: 100%;
  padding: 4rem;
  margin: 0 auto;
  text-align: center;
  background: $color-navy;
  line-height: 1.25;
  display: grid;
  justify-content: center;

  .inner {
    padding: 2rem;
    border-top: 1px solid;
    border-bottom: 1px solid;
    h5 {
      max-width: 100rem;
      font-size: 24px;
      color: $color-offWhite;
    }
    p {
      margin: 0.75rem auto;
      font-family: $font-secondary;
      color: $color-grainsboro;
      font-size: 18px;
      span {
        color: $color-orange;
      }
    }
  }
}
