@import "../../styles/global";

.container {
  width: 100%;
  margin: 10rem auto 5rem auto;
  text-align: center;
  color: $color-offWhite;
  .title {
    font-size: 6.6rem;
    color: $color-white;
    line-height: 1;
    padding: 0 1.5rem;
  }
  .subtitle {
    margin: 0 auto;
    font-size: 2.6rem;
    color: $color-orange;
    font-weight: 600;
    padding: 0 1.5rem;
    line-height: 1;
  }
  .text {
    margin: 5rem auto 0 auto;
    max-width: 85rem;
    font-size: 1.8rem;
    color: $color-offWhite;
    padding: 0 1.5rem;
    line-height: 1.2;
  }

  @media (max-width: 1000px) {
    margin: 5rem auto;
    .title {
      font-size: 4.6rem;
    }
    .subtitle {
      margin: 5rem auto 0 auto;
      font-size: 1.8rem;
    }
    .text {
      margin: 3rem auto 0 auto;
      max-width: 70rem;
      font-size: 1.4rem;
    }
  }

  @media (max-width: 750px) {
    margin: 3rem auto;
    .title {
      font-size: 4rem;
    }
    .subtitle {
      margin: 2rem auto 0 auto;
      font-size: 1.6rem;
    }
    .text {
      margin: 2rem auto 0 auto;
      max-width: 60rem;
      font-size: 1.4rem;
    }
  }

  @media (max-width: 650px) {
    margin: 2rem auto;
    .title {
      font-size: 3rem;
    }
    .subtitle {
      margin: 2rem auto 0 auto;
    }
    .text {
      margin: 1rem auto 0 auto;
      max-width: 50rem;
    }
  }
}
